dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
dumps/
.history
.cache
.lib/
.bsp/

# sbt
project/project/
project/target/
target/

# Mac
.DS_Store

# VS Code Metals
.bloop/
.metals/
.vscode/

# IntelliJ
.idea/
